/* Applies Roboto font to entire website */
* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1, h2, h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  /* color: black; */
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 380px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
}

#login-button {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  align-self: center;
}

.center {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}